# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

1)Python
2)R
3)SQL
4)Javascript

Some of the commonly used libraries used by Data Scientists include:

1)Numpy
2)Pandas
3)Matplotlib
4)Keras
5)Scikit learn

|Data Science Tools|
|-----------|
  |Jupyter Notebook|
     |RStudio|
     |SQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

In [11]:
minutes = float(input("Enter the number of minutes: "))
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours")

Enter the number of minutes: 350
350.0 minutes is equal to 5.833333333333333 hours

**Objectives**

* List popular languages for Data Science
* Some of the commonly used libraries used by Data Scientists
* Data Science Tools and Ecosystem
* Arithmetic operations in Jupyter Notebook

## Author

K Sathwik Krishna